.input-field-password{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 10px;
}

.input-field-password label{
    font-weight: 500;
    margin-bottom: 5px;
    font-family: "kanit";
    font-size: 28px;
}

.input-field-password input{
    padding: 8px 45px 8px 15px; /* Thêm padding-right để chữ không chèn lên icon */
    border: 1px solid #000000;
    font-size: 28px;
    border-radius: 20px;
    width: 450px;
    height: 54px;
    box-sizing: border-box; /* Đảm bảo width đã tính cả padding */
}

.password-input-wrapper {
    position: relative;
    width: 450px; /* Bằng với width của input */
}

.password-toggle-icon {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
}
.password-toggle-icon:hover {
    color: #000;
}