.input-field-password{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 10px;
}

.input-field-password label{
    font-weight: 500;
    margin-bottom: 5px;
    font-family: "kanit";
    font-size: 28px;
}

.input-field-password input{
    padding: 8px;
    border: 1px solid #000000;
    font-size: 28px;
    border-radius: 20px;
    width: 450px;
    height: 54px;
}